ul{
    margin: 0;
    padding: 0;
}
li{
    text-align: left;
    list-style:none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
li:hover{
    background-color: #ddd;
}
span{
    color: #fa503a;
    vertical-align: top;
}
img {
    border-radius: 50%;
    margin: 10px;
  }
.beerdetailview img {
    border-radius: 0%;
    max-width: 300px;
    max-height: 150px;
    margin: 10px;
  }
button{
    color: #ffffff;
    background: #ed5441;
    border: 1px solid #e52d16;
    padding: 6px 12px;
    margin: 10px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}
button:hover{
    color: #ed5441;
    background: #ffffff;
    
}
.leftside{
    height: 75vh;
    widows: 100%;
}
.rightside{
    height: 90vh;
    widows: 100%;
}
@media screen and (min-width: 768px){
    .leftside{
        height: 70vh;
    }
    .rightside{
        height: 90vh;
    }
}
.leftside{
    overflow: auto;
}
.rightside{
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed5441; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }